{% extends "pages/layoutAd.html" %} 
{% block title %} Trang chủ Admin - Thêm nhà cung cấp {% endblock %} 
{% block content %}
{% load static %}
<div class="container">
    <h2 class="w-100 text-center text-danger"> Thêm nhà cung cấp mới</h2>
    <form class="w-50 m-auto" method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_ten_ncc">Tên nhà cung cấp</label>
            <input name="TenNCC" type="text" class="form-control" id="id_ten_ncc" value="{{ form.TenNCC.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="id_dia_chi">Địa chỉ</label>
            <input name="DiaChi" type="text" class="form-control" id="id_dia_chi" value="{{ form.DiaChi.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="id_sdt">Số điện thoại</label>
            <input name="SDT" type="text" class="form-control" id="id_sdt" value="{{ form.SDT.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            <input name="Email" type="text" class="form-control" id="id_email" value="{{ form.Email.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="id_website">Website</label>
            <input name="Website" type="text" class="form-control" id="id_website" value="{{ form.Website.value|default_if_none:'' }}">
        </div>
        <!-- Button trigger modal -->
        <div class="text-center mt-2" style="display: flex; justify-content: center;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Thêm nhà cung cấp</button>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận thêm nhà cung cấp</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn thêm nhà cung cấp này không?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-danger">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </form>  
</div>
{% endblock %}
